<h1>Longest Palindrome Finder</h1>
<form action="/translation" method="POST">
  
	<label for="sentence">Please enter your string:</label>
	<input id="string" type="text" name="string">

<button type="submit" value="submit">Find longest palindrome!</button>