<div class="outercontainer">
  <div class="innercontainer content">
    <h1>Longest Palindrome Finder  redniF emordnilaP tsegnoL</h1>
    <form action="/result" method="POST" class="formy"> 
    	<label for="sentence" class="labelz">Enter text here:</label>
    	<input id="string" type="text" name="string" class="whitebox">
      <br>
      <button type="submit" value="submit" class="palz buttonz">Get Palindrome</button>
    </form>
  </div>
</div>