<div class="outercontainer">
  <div class="innercontainer">
    <h1>Longest Palindrome Finder  redniF emordnilaP tsegnoL</h1>
    <div class="atresult">
      <%= @result %>
    </div>
    <div class="formy">
      <div class="atstring">
        <%= @string %>
      </div>
    </div>
    <a href="/" class="back buttonz">Back</a>
  </div>
</div>

